@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page">
    <div class="home-content">
    <h1 class="home-page-heading">Khumalo Craft</h1>
    <p class="home-page-subheading">An emporium of handmade mastercrafts from South Africa</p>
    </div>
</div>
