@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="page-heading">Contact Us</h1>
    <div class="contact-box">
        <h3>Give us your feedback</h3>
        <p>Thank you for your interest in KhumaloCraft Emporium. 
            We value your feedback, inquiries, and suggestions. 
            Please feel free to reach out to us using the information provided below. 
            Our team is here to assist you and will respond to your queries as soon as possible.
        </p>
        <h3>Contact Information</h3>
        <li>Email: info@khumalocraft.com</li>
        <li>Phone: +27 1234 56789</li>
        <li>Address: 01 Some Lane, Centurion, Gauteng</li>
    </div>
</div>
