:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #2323e;
    --bg-secondary: #141418;

}

/*html {
  font-size: 14px;
}*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #fb7725;
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    color: white;
    background-color: #1e1e24;
    margin: 0;
    padding: 0;
        
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4)),url(/Images/background.png);
    background-size: cover;
    background-position: center;
    
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-track {
    background: #141418;
}

main{
    margin-left: 7rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #141418;
    transition: width 200ms ease;
    z-index: 1000;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav-item{
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    /*filter: grayscale(100%) opacity(0.5);*/
    transition: 200ms ease;
}

.nav-item:hover {
    filter: hue-rotate(170deg) opacity(1) brightness(1.5);
    background-color: #000000;
    color: #ff6a00;
    font-weight: bold;
    transform: scale(1.1);
}

.link-text {
    display: none;
    margin-left: 1rem;
    text-transform: uppercase;
}

.nav-link i{
    min-width: 2rem;
    margin: 0 1.5rem;
    color: #ff6a00;
    

}

.navbar:hover{
    width: 15rem;

}

.navbar:hover .link-text{
    display: block;
    color: #ff6a00;
    
}

.home-content {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translateY(-50%);
    text-align: center;
}

.home-page-heading {
    font-family: "Josefin Sans", sans-serif;
    color: orange;
    text-transform: uppercase;
    font-size: 100px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.page-heading {
    font-family: "Josefin Sans", sans-serif;
    color: orange;
    text-transform: uppercase;
    font-size: 40px;
}

.home-page-subheading {
    font-family: "Rouge Script", cursive;
    font-size: 40px;
    transform: translateY(-120%);
    font-weight: bold;
    color: #eec781; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

footer{
    position: relative;
    background-color: #000000;
    font-weight: bold;
}

.footer-container{
    margin-left: 15rem;
}

#FooterLink {
    color: #fb7725;

}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    width: auto;
    height: auto;
    padding: 2rem;
}

.gallery-container:hover{
    
    width: auto;
    height: auto;
}

.gallery-item {
    display: inline-block;
    position: relative;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
    /* Initial styles for the gallery item */
    width: 300px;
    height: 360px;
    background-color: #1e1e24;
}

.gallery-item img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}


.gallery-item:hover {
    /* Styles for the scaled-up state */
    transform: scale(1.1); /* Increase size by 20% */
    transition: transform 0.2s ease; /* Smooth transition */
    height: auto;
}

.gallery-item .description{
    padding: 1rem;
    
}

.gallery-item .item-title{
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    color: orangered;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.gallery-item .item-desc{
    display: none;
    font-size: 12px;
    text-align: justify;
    padding: 0.5rem;
}

.gallery-item .item-price{
    display: none;
    font-family: "Prata", serif;
    font-size: 16px;
    color: limegreen;
    font-weight: bold;
    text-align: right;
    margin-right: 1rem;
}

.gallery-item:hover .item-desc{
    display: block;
    
}

.gallery-item:hover .item-price{
    display: block;
    
}

.about-box {
    display: inline-block;
    transform: translateX(40%);
    border: 1px solid grey;
    margin: 5px;
    width: 50%;
    padding: 2rem;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    text-align: center;
}

.about-box h3{
    text-transform: uppercase;
    color: orange
}

.about-box p{
    color: #f8e0b5
}

.contact-box {
    display: inline-block;
    
    border: 1px solid grey;
    
    width: 40%;
    padding: 2rem;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    
}

/* For CRUD navbar */
.crud-nav {
    display: flex; /* Make the list items display horizontally */
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;

}

.crud-nav li {
    margin-right: 40px; /* Add spacing between list items */
}

.crud-nav a {
    text-decoration: none; /* Remove underline from links */
    color: #eb5050; /* Set link text color */
}

.crud-nav a:hover { /* Style on hover */
    color: #00ffff; /* Change link color on hover */
}

/* For Create */
.create-form {
  display: flex;
  flex-wrap: wrap; /* Allow form elements to wrap if needed */
  width: 100%; /* Make the form fill the available width */
  margin: 0 auto; /* Center the form horizontally */
}

.create-form .form-group {
  width: 50%; /* Set width for each form group */
  margin-bottom: 15px; /* Add spacing between groups */
}

.create-form label {
  display: block; /* Make labels appear on separate lines */
  margin-bottom: 5px; /* Add spacing between label and input */
  font-weight: bold; /* Emphasize labels */
}

.create-form input[type="text"],
.create-form input[type="number"],
.create-form textarea {
  width: 300%; /* Set width for input fields */
  padding: 10px; /* Add padding for better readability */
  border: 1px solid #ccc; /* Create a border around input fields */
  border-radius: 3px; /* Add rounded corners */
}

.create-form .form-control-file {
  width: 300%; /* Set width for file input */
  padding: 10px; /* Add padding for better readability */
}

    .create-form button[type="submit"] {
        width: 100%; /* Set width for submit button */
        padding: 10px 20px; /* Add padding for submit button */
        background-color: #333; /* Set button background color */
        color: #fff; /* Set button text color */
        border: none; /* Remove border from submit button */
        border-radius: 3px; /* Add rounded corners */
        cursor: pointer; /* Indicate clickable element */
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
    }

.create-form button[type="submit"]:hover {
  background-color: orangered; /* Change button color on hover */
}

/* For Login */
.login-link {
    display: block; /* Make the link appear on a separate line */
    text-align: left; /* Center the link */
    margin-top: 15px; /* Add spacing above the link */
    color: #ff6a00;
    font-weight: bold;
}

.table {
    width: 50%; /* Adjust table width as needed */
    border-collapse: collapse; /* Collapse table borders */
  }

  /* Table header styling */
    .table thead th {
        padding: 0.75rem 1.25rem; /* Adjust padding for headers */
        text-align: left; /* Align header text to the left */
        background-color: #333; /* Light background color */
        border: 1px solid orangered; /* Subtle border for headers */
    }

    /* Table body styling */
  .table tbody td {
    padding: 0.5rem 1rem; /* Adjust padding for table cells */
    border: 1px solid orangered; /* Border for table cells */
  }

  /* Link styling */
  .table a {
    color: #007bff; /* Adjust link color based on preference */
    text-decoration: none; /* Remove underline from links */
  }

  .table a:hover {
    text-decoration: underline; /* Add underline on hover for visual feedback */
  }
