@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="page-heading">About Us</h1>
    
    <div class="about-box">
    <h3>
        Welcome to KhumaloCraft Emporium</h3>
        <p>
        At KhumaloCraft Emporium, we believe in the power of craftsmanship and the beauty of handmade products. Founded by visionary entrepreneur James Khumalo, our mission is to create a global e-commerce platform that celebrates the artistry of artisans from around the world.
        </p>
        <h3>Our Vision</h3>
        <p>
        Our vision is to connect artisans with a discerning audience who appreciates the value of handmade, ethically sourced products. We envision a world where traditional craftsmanship thrives alongside modern technology, where every purchase tells a story and supports livelihoods.
        </p>
        <h3>Our Mission</h3>
        <p>
        Our mission is to provide a scalable, accessible, and user-friendly platform for artisans to showcase their creations to the world. We are committed to fostering a community of artisans, designers, and enthusiasts who share our passion for quality craftsmanship and sustainable living.
        </p>   
    
    </div>
</div>
